@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.custom-scrollbar {
    /* Scrollbar styles */
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: rgb(17 24 39) gray; /* scroll thumb and track */
  }
  